@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,500;1,300;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather sans", sans-serif;
  color: #333;
  line-height: 1.6;
}
.hidden {
  visibility: hidden;
  height: 0;
}
ul {
  list-style-type: none;
}
.logo {
  margin-top: 15px;
}
/* navbar */
.navbar {
  background-color: #181818;
  height: 90px;
}
.navbar ul {
  display: flex;
  text-decoration: none;
}
.navbar a {
  position: relative;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 0.5);
  overflow: hidden;
  text-decoration: none;
  margin: 10px 15px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, transparent, #004);
}

.navbar a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 200%;
  background: var(--clr);
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: calc(-0.33s * var(--1));
  -webkit-animation: animate 2s linear infinite;
}

.navbar a::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #181818;
  transition: 0.5s;
}
.navbar span {
  position: relative;
  z-index: 1;
  font-size: 1.3rem;
  color: #f0fc05;
  opacity: 1;
}
.navbar a:hover {
  background: var(--clr);
  box-shadow: 0 0 5px var(--clr);
  margin: 0 10px;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar img {
  cursor: pointer;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.intro {
  height: 400px;
  background-color: #181818;
  color: #fff;
  position: relative;
}

.intro .grid {
  overflow: visible;
  gap: 30px;
}
.intro img {
  position: relative;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  /* box-shadow: 3px -5px 12px 1px rgba(15, 15, 15, 0.45); */
  box-shadow: 3px 5px 20px 5px rgba(15, 15, 15, 0.45);
}

.intro::before,
.intro::after {
  content: "";
  position: absolute;
  height: 110px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #181818;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  box-shadow: 0 5px 12px 1px rgba(12, 12, 12, 0.45);
}
.wrapper {
  display: inline-flex;
  width: 100%;
}
.wrapper .static-text {
  padding-top: 5px;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}
.wrapper .dynamic-text {
  margin-left: 15px;
  line-height: 90px;
  height: 70px;
  overflow: hidden;
}
.dynamic-text li {
  font-size: 50px;
  position: relative;
  top: 0;

  z-index: 1000;
  /* justify-self: center;
  align-items: center; */
  animation: slide 6s steps(4) infinite;
  -webkit-animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-text li span {
  position: relative;
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  background: #181818;
  height: 120%;
  width: 110%;
  z-index: 1000;
  border-left: 2px solid #fff;
  animation: typing 1.6s steps(10) infinite;
  -webkit-animation: typing 3s steps(10) infinite;
}

/* @keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 45px;
  }
} */
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* hire */
.hire {
  padding-top: 150px;
  background-color: #eff4fc;
}

.hire .grid {
  grid-template-columns: 4fr 3fr;
  gap: 30px;
  padding: 40px;
}

.hire img {
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  animation: slideInFromLeft 1s ease-in;
  -webkit-animation: slideInFromLeft 1s ease-in;
}

.hire .about-me {
  margin-left: 50px;
}
.about-me h2 {
  color: #0554f2;
}
/* form */
.form {
  position: relative;
  background-color: #181818;
  height: 450px;
  margin-top: 30px;
}

.form .grid {
  overflow: visible;
  grid-template-columns: 45% 55%;
  gap: 30px;
}
.form h3 {
  color: white;
}
.form a {
  border-color: #0554f2;
  text-decoration: none;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-top: 30px;
}
.form a:hover {
  background-color: #0554f2;
}
.form::before,
.form::after {
  content: "";
  position: absolute;
  height: 210px;
  bottom: 300px;
  right: 0;
  left: 0;

  background-color: #181818;
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  box-shadow: 0 -5px 12px 1px rgba(15, 15, 15, 0.45);
}
.form .form-text {
  color: white;
  margin-top: 20px;
}

.request-form {
  position: relative;
  z-index: 100;
  background-color: #eff4fc;
  height: 400px;
  width: 400px;
  padding: 20px;
  justify-self: flex-end;

  animation: slideInFromRight 1s ease-in;
}
.request-form .card {
  transition: transfrom 0.5s ease-in;
}
.request-form:hover {
  /*justify-self: center;
  */
  transform: translateX(-15px);
  transition: 0.5s;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
}
.request-form .form-control {
  margin: 25px 0;
  position: relative;
  width: 100%;
}
.request-form .form-control input,
.request-form .form-control textarea {
  position: relative;
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  padding: 10px 10px 7.5px;
  border-radius: 4px;
  font-size: 1rem;
}
.request-form .form-control i {
  position: absolute;
  left: 0;
  padding: 10px, 5px;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.request-form .form-control input:focus ~ i,
.request-form .form-control input:valid ~ i {
  transform: translateY(-17px);
  font-size: 0.9rem;
  opacity: 1;
  color: #181818;
}
.request-form p {
  font-size: 12px;
  justify-self: center;
  padding: 0 10px;
  margin-top: 10px;
  opacity: 0.7;
  text-align: center;
}
.request-form h3 {
  color: #0554f2;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.request-form input[type="text"],
.request-form input[type="email"],
.request-form textarea {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 14px;
  opacity: 0.7;
}
/* porfolio */
.porfolio {
  background-color: #181818;
}
.porfolio .container {
  width: 1400px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.porfolio h2 {
  color: #0554f2;
  text-align: center;
  letter-spacing: 8px;
  padding-top: 100px;
  margin-bottom: 30px;
}
.porfolio .container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.porfolio .container:hover .card {
  opacity: 0.3;
  transform: scale(0.9);
  filter: blur(5px);
}
.porfolio .container .card:hover {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  transform: translateX(-10px);
  transition: 0.5s;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}
.porfolio img {
  width: 90%;
  align-self: center;
  cursor: pointer;
}
.porfolio img:hover {
  opacity: 0.6;
}
/* footer */
.footer .container {
  padding-top: 100px;
}
.footer .social a {
  margin: 0 10px;
  color: #fff;
}
.footer .social a:hover {
  color: #0554f2;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer {
  background-color: #181818;
  color: #fff;
}

/* animation*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* tablets and under */
/*  since this is a desktop first */
@media (max-width: 768px) {
  .intro img {
    height: auto;
    max-width: 100%;
  }
  .form .grid,
  .porfolio .grid {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .navbar a {
    position: relative;
    padding: 5px 10px;
    display: flex;
    margin: 5px 10px;
  }
  .navbar .logo img {
    max-width: 100%;
    height: auto;
  }
  .navbar {
    height: 200px;
    display: block;
  }
  .porfolio .grid {
    width: 70%;
    margin-top: 10px;
  }
  .form .form-text {
    z-index: 1000;
    position: relative;
    justify-items: center;
  }
  .grid,
  .intro .grid,
  .hire .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .intro {
    height: auto;
  }
  .intro-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }
  /* .intro img {
    display: flex;
    margin-left: 75px;
  } */
  .footer .social a {
    margin: 0 5px;
    color: #fff;
  }
  .form .request-form {
    top: 30px;
  }
  .porfolio h2 {
    padding-top: 150px;
  }

  .form .request-form {
    justify-self: center;
    width: 100%;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }
}
@media (max-width: 550px) {
  .navbar {
    height: 200px;
    display: block;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
  }

  .wrapper {
    display: block;
  }
  .wrapper .static-text,
  .dynamic-text li {
    font-size: 30px;
  }

  .dynamic-text li span::after {
    padding-bottom: 50px;
    height: 80%;
    width: 100%;
  }

  .porfolio h2 {
    padding-top: 180px;
  }
  .porfolio .card {
    width: 250px;
  }
  .form .request-form {
    width: 370px;
  }
  .request-form h3 {
    word-spacing: 1px;
  }
}
